<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header>
    <nav class="nav-container">
      <div class="logo">
        <i class="fa-solid fa-book"></i>
        <span>LMS</span>
      </div>
      <div class="nav-links">
        <div>
          <button><a href="/logout">Logout</a></button>
        </div>
        <div>

        </div>
    </nav>
    <div class="side-nav">
      <div class="side-nav-container">
        <div class="option active" data-dashboard="overview">Overview</div>
        <% if(role=="Member" ){%>

          <div class="option" data-dashboard="borrow">Catalog</div>
          <div class="option" data-dashboard="borrow">My Borrowing</div>
          <div class="option" data-dashboard="finance">My Finance</div>

          <% }%>
            <% if(role=='Staff' ) {%>
              <div class="option" data-dashboard="catalog">Catalog and Circulation</div>
              <div class="option" data-dashboard="member">Users</div>
              <div class="option" data-dashboard="borrow">Borrowing activity</div>
              <div class="option" data-dashboard="finance">Finance</div>

              <% } %>
                <% if (role=='Admin' ){%>
                  <div class="option" data-dashboard="book">Book managment</div>
                  <div class="option" data-dashboard="borrow">Borrowing Activity</div>
                  <div class="option" data-dashboard="finance">Finance</div>
                  <div class="option" data-dashboard="member">Member Managment</div>
                  <div class="option" data-dashboard="satffAndAdmin">Staff and Admin Managment</div>
                  <div class="option" data-dashboard="reports">Reports</div>

                  <%} %>
                    <div class="option" data-dashboard="profile">Profile</div>
      </div>
    </div>
  </header>
  <main>
    <div class="dashboard-panel active-panel" id="overviewDashboard">

    </div>
    <div class="dashboard-panel" id="bookDashboard">
      <div class="book-opration">
        <h1>Overview panel</h1>
        <form action="/dashboard/addbook" class="book-form" method="POST">
          <input type="text" name="title" placeholder="Add book title">
          <input type="text" name="author" placeholder="Add book author">
          <input type="text" name="isbn" placeholder="Add book isbn">
          
           <select name="category" id="">
            <option  value="" selected disabled> Select category</option>
            <option name="category" value="sci-fi">sci-fi</option>
            <option name="category" value="finance">finance</option>
            <option name="category" value="self-help">self-hlep</option>
            <option name="category" value="biography">biography</option>
           </select>
          <input type="number" name="price" step="0.5" placeholder="Add book price">
          <input type="number" name="total" step="1" placeholder="Add total book ">
          <input type="submit" value="Add">
        </form>
        <div class="book-btns">
          <button class="book-btn">Add</button>
          <button class="book-btn">Edit</button>
          <button class="book-btn">Delete</button>
        </div>
        <div class="book-table">
          <table border="1">
            <tr>
              <th>Tiltle</th>
              <th>Author</th>
              <th>ISBN</th>
              <th>category</th>
              <th>price</th>
              <th>Total</th>
              <th>Available Left</th>
            </tr>
           <% books.forEach((book)=>{ %> 
            <tr>
              <td><%=book.Title%></td>
              <td><%=book.Author%></td>
              <td><%=book.Isbn%></td>
              <td><%=book.category%></td>
              <td><%=book.Price%></td>
              <td><%=book.Total%></td>
              <td></td>
            </tr>
            <% }) %>
          </table>
        </div>
      </div>

    </div>
    <div class="dashboard-panel" id="borrowDashboard"></div>
    <div class="dashboard-panel" id="financeDashboard"></div>
    <div class="dashboard-panel" id="memberDashboard"></div>
    <div class="dashboard-panel" id="satffAndAdminDashboard"></div>
    <div class="dashboard-panel" id="reportsDashboard"></div>
  </main>
  <script src="/js/script.js" defer></script>
</body>

</html>